@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway;
}

:root {
    --branco: #FFFFFF;
    --cinza-100: #F1F1F1;
    --cinza-400: #757575;
    --cinza-450: #666666;
    --cinza-500: #616161;
    --preto: #000000;
    --laranja-100: #F38981;
    --laranja-400: #F44336;
}

body {
    background-color: var(--cinza-100);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: var(--branco);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header a {
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: var(--laranja-400);
}

header a .fa-map-marker {
    font-size: 30px;
}

header button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
}

header button .fa-search {
    font-size: 30px;
    color: var(--cinza-400);
}

main section, footer {
    width: 1200px;
    margin: 30px auto;
}

#inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    background-image: url('./images/london.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#inicio > div {
    background-color: var(--branco);
    width: 65%;
}

#inicio nav {
    display: flex;
}

#inicio nav button {
    flex: 1;
    padding: 10px;
    border: none;
    background-color: var(--preto);
    color: var(--branco);
    font-size: 16px;
}

#inicio nav button span {
    margin-left: 10px;
}

#inicio nav button.active {
    background-color: var(--laranja-400);
}

#inicio > div > div {
    padding: 30px 15px;
}

#inicio > div > div h1 {
    font-weight: 400;
    font-size: 26px;
    margin-bottom: 20px;
}

#inicio form > div {
    display: flex;
    gap: 20px;
}

#inicio form > div > div {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#inicio form input {
    padding: 10px;
    font-size: 14px;
}

#inicio form button {
    margin-top: 15px;
    padding: 15px;
    background-color: var(--cinza-500);
    color: var(--branco);
    font-size: 14px;
    border: none;
}

#ofertas h2 {
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 26px;
}

#ofertas > p {
    margin: 0 0 15px;
    font-size: 18px;
}

#ofertas > div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

#ofertas .foto-destaque {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

#ofertas img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-imagem {
    position: relative;
}

.container-imagem p {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: var(--branco);
    font-size: 18px;
}

#natureza h2 {
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 26px;
}

#natureza > p {
    margin: 0 0 15px;
    font-size: 18px;
}

#natureza > div {
    display: flex;
    gap: 20px;
}

.card {
    background-color: var(--branco);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card div {
    padding: 15px;
}

.card h3 {
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 20px;
}

.card p.preco {
    opacity: 0.7;
}

.card p {
    margin-bottom: 20px;
}

.card button {
    padding: 15px;
    background-color: transparent;
    font-size: 16px;
    border: none;
}

#newsletter {
    background-color: var(--cinza-500);
    padding: 15px;
    color: var(--branco);
}

#newsletter h2 {
    margin: 15px 0 20px;
    font-weight: 400;
    font-size: 26px;
}

#newsletter p {
    margin-bottom: 15px;
}

#newsletter form {
    display: flex;
    flex-direction: column;
}

#newsletter form label {
    margin-bottom: 5px;
}

#newsletter form input {
    padding: 10px;
    margin-bottom: 15px;
}

#newsletter form button {
    width: 100px;
    padding: 10px;
    background-color: var(--laranja-100);
    color: var(--branco);
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}